@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

// Clases para aplicar las animaciones
.slide-in-top {
    animation: slideInFromTop 0.8s ease-in-out  forwards;
}

.slide-in-bottom {
    animation: slideInFromBottom 0.8s ease-in-out  forwards;
}

.slide-in-left {
    animation: slideInFromLeft 0.8s ease-in-out forwards;
}

.slide-in-right {
    animation: slideInFromRight 0.8s ease-in-out  forwards;
}